<% include ../header %>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        const sala = '<%- sala %>' // recebe o nome da sala (hash)
        socket.emit('create-room', sala) // Crio a sala com o nome
        socket.on('send-client', (msg) => {
            document.getElementById('chat').innerHTML += msg;
        });
        const enviar = () => {
            let msg = document.getElementById('msg');
            if(msg.value){
                socket.emit('send-server', sala, msg.value );
                msg.value = ''
            }
        };
    </script>
    
    <header>
        <h2>Ntalk - Chat</h2>
    </header>
    <section>
        <pre id="chat"></pre>
        <input type="text" id="msg" placeholder="Mensagem">
        <button onclick="enviar();">Enviar</button>
    </section>

<% include ../exit %>
<% include ../footer %>